.form-select{
    
    margin: 12px;
    width: 13rem;
    position: relative;
    top: 5rem;
}
/* .container{
    display: flex;
} */
.outerContainer{
    display: grid;
    grid-template-areas: 'goals courses textarea textarea'
                          'topic weightage textarea textarea'
                          'dl qType textarea textarea'
                          'question question textarea textarea';
}


.textarea{
    width: 33vw;
    height: 100vh;
 border: 2px solid rgb(4, 192, 145);
  
}
.preview{
    height: 100vh;
}
.qInput{
    border: none;
    
    margin: 2px;
    top: 10rem;
    position: absolute;
    right: 16rem;
}
.hintInput{
   
    border: none;
    margin: 2px;
    top: 15rem;
    position: absolute;
    right: 17rem;
}

.solutionInput{
    border: none;
   
    margin: 2px;
    top: 24rem;
    position: absolute;

    right: 16rem;
}

.hint{

    top: 11rem;
}
.solution{
    top: 12rem;
}
.ques{
    top: 6rem;
}

.preInput{
    display: flex;
    margin: 23px;
}
.optionInput{
    border: none;
    display: flex;

}

.question{
    
    position: relative;
    width: 12rem;
    right: 33rem;
}
.addBtn{
   
    position: relative;
    right: 31rem;
    top: 6rem;
}
.btn{
    display: flex;
    margin: 10px;
}
.checkBox{
    position: relative;
    right: 11rem;
}
span{
    left: 1rem;
    position: relative;
}